.burger {
  display: block;
width: 40px;        /* bredere knap */
  height: 32px;       /* højere knap */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-left: auto; /* skubber den helt til højre */
}

.burger span {
  display: block;
  width: 100%;
  height: 8px;              /* gør stregerne tykke */
  background: black;         /* farve */
  border-radius: 9999px;     /* runde ender */
  transition: .3s ease;      /* smooth animation */
}
/* Menu skjult på mobil */
.mobile-menu {
  display: none;
}

/* Menu åbner */
.mobile-menu.open {
  display: block;
}

/* Desktop: Vis menu, skjul burger */
@media (min-width: 768px) {
  .burger {
    display: none;
  }

  .mobile-menu {
    display: block;
    position: static;
    transform: none;
    width: auto;
  }


  
}
