.burger {
  display: block;
  width: 40px; /* bredere knap */
  height: 32px; /* højere knap */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-left: auto; /* skubber den helt til højre */
}

.burger span {
  display: block;
  width: 100%;
  height: 8px; /* gør stregerne tykke */
  background: black; /* farve */
  border-radius: 9999px; /* runde ender */
  transition: 0.3s ease; /* smooth animation */
}
/* Menu skjult på mobil */
.mobile-menu {
  display: none;
}

/* Menu åbner */
.mobile-menu.open {
  display: block;
}

/* Mobil dropdown styling */
.mobile-menu.open {
  background-color: #4b6b41;
  padding: 32px 24px;
  border-radius: 32px;

  position: absolute;
  top: 80px; /* under header */
  right: 16px;
  width: 280px;
  border: 2px solid #cacaca;
}

.mobile-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mobile-menu li + li {
  margin-top: 20px;
}

.mobile-menu a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
}

/* Desktop: Vis menu, skjul burger */
@media (min-width: 768px) {
  .burger {
    display: none;
  }

  .mobile-menu {
    display: block;
    position: static;
    transform: none;
    width: auto;
  }
}
