* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif !important;
}

body {
  font-family: "Poppins", sans-serif;
}

input,
textarea,
button,
select {
  font-family: "Poppins", sans-serif;
}

.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* logo ↔ burger */
  padding: 10px 12px;
  margin-top: 20px;
  position: relative;
}

.site-header {
  padding: 20px 40px;
}

.site-header img {
  height: 55px;
}

.mobile-only {
  display: none;
}

.mobile-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.mobile-menu a {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-size: 30px;
  color: #000;
  text-decoration: none;
}

.mobile-menu ul {
  display: flex;
  gap: 48px;
  align-items: center;
}

.site-header img {
  height: 32px; /* eller 32px – justér */
  width: auto;
}

.burger {
  width: 32px;
  height: 24px;
}

.burger span {
  height: 4px;
  border-radius: 4px;
}

footer {
  background: #4b6b41;
  padding: 2rem 2rem;
}

.kontakt-indhold {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.kontakt-indhold h6 {
  font-weight: bold;
  margin-bottom: 2rem;
}

.cafetten h6 {
  font-size: 30px;
  text-align: center;
}

.cafetten p {
  font-size: 22px;
  text-align: center;
  margin-top: -20px;
}

.kontakt-os-her h6 {
  font-size: 30px;
  text-align: center;
}

.kontakt-os-her ul {
  font-size: 22px;
  text-align: center;
  list-style: none;
  margin-top: -20px;
}

.aabningstider h6 {
  font-size: 30px;
  text-align: center;
}

.aabningstider ul {
  font-size: 22px;
  text-align: center;
  list-style: none;
  margin-top: -20px;
}

@media (min-width: 768px) {
  .site-header {
    padding: 20px 40px;
  }

  .site-header img {
    height: 55px;
  }

  .site-header .mobile-menu ul {
    display: flex;
    gap: 32px;
    align-items: center;
  }

  .site-header .mobile-menu a {
    text-decoration: none;
  }

  /* --- START FOOTER --- */

  footer {
    background: #4b6b41;
    padding: 2rem 2rem;
  }

  .kontakt-indhold {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
  }

  .kontakt-indhold h6 {
    font-weight: bold;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
  }

  .cafetten h6 {
    font-size: 30px;
    text-align: center;
  }

  .cafetten p {
    font-size: 22px;
    text-align: center;
    margin-top: -20px;
  }

  .kontakt-os-her h6 {
    font-size: 30px;
    text-align: center;
  }

  .kontakt-os-her ul {
    font-size: 22px;
    text-align: center;
    list-style: none;
    margin-top: -20px;
  }

  .aabningstider h6 {
    font-size: 30px;
    text-align: center;
  }

  .aabningstider ul {
    font-size: 22px;
    text-align: center;
    list-style: none;
    margin-top: -20px;
  }

  .footer-fr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
}
