* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* logo ↔ burger */
  padding: 10px 12px;
  margin-top: 35px;
}

.site-header img {
  height: 32px; /* eller 32px – justér */
  width: auto;
}

.burger {
  width: 32px;
  height: 24px;
}

.burger span {
  height: 4px;
  border-radius: 4px;
}
