* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --- START MOBIL KEY --- */

img {
  width: 100%;
  height: auto;
  display: block;
  border: white 4px;
}

main {
  padding: 0.6rem;
}

body {
  line-height: 1.7;
  color: black;
}

header {
  margin-bottom: 1rem;
}

h1 {
  font-size: 56px;
  margin-bottom: 0.6rem;
}

h2 {
  font-size: 32px;
  margin-bottom: 1rem;
}

h3 {
  font-size: 32px;
  text-align: center;
}

h4 {
  font-size: 32px;
  text-align: center;
}

section {
  margin-bottom: 2rem;
}

/* --- SLUT MOBIL KEY --- */

/* --- START OM OS --- */

.omos-indhold {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.omos-indhold img {
  height: 400px;
  width: 412px;
  border-radius: 15px;
}

.omos-indhold p {
  font-size: 19px;
}

/* --- SLUT OM OS --- */

/* --- START HISTORIEN BAG --- */

.historienbag-indhold {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.historienbag-indhold p {
  font-size: 19px;
}

.historienbag-billeder {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  margin-bottom: 0.5rem;
}

.historienbag-billeder img {
  height: 400px;
  width: 412px;
  border-radius: 15px;
}

/* --- SLUT HISTORIEN BAG --- */

/* --- START MANDEN BAG --- */

.mandenbag {
  margin-top: 60px;
}

.mandenbag-indhold {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.mandenbag-indhold img {
  width: 299px;
  height: 281px;
  object-fit: cover;
  border-radius: 100%;
  border: 0.5px solid black;
  margin: 2rem auto 1rem;
}

.mandenbag-indhold p {
  font-size: 19px;
  text-align: center;
}

/* --- SLUT MANDEN BAG --- */

/* --- START PASSIONEN FOR PIZZA --- */

.passionenforpizza {
  margin-top: 60px;
}

.passionenforpizza-indhold {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.passionenforpizza-indhold img {
  width: 299px;
  height: 281px;
  object-fit: cover;
  border-radius: 100%;
  border: 0.5px solid black;
  margin: 2rem auto 1rem;
}

.passionenforpizza-indhold p {
  font-size: 19px;
  text-align: center;
}

/* --- SLUT PASSIONEN FOR PIZZA --- */

h5 {
  font-size: 32px;
  font-weight: normal;
  text-align: center;
  margin-top: 70px;
}

/* --- START FOOTER --- */

footer {
  background: #4b6b41;
  padding: 2rem 2rem;
  margin-top: 60px;
}

.kontakt-indhold {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.kontakt-indhold h6 {
  font-weight: bold;
  margin-bottom: 2rem;
}

.cafetten h6 {
  font-size: 30px;
  text-align: center;
}

.cafetten p {
  font-size: 22px;
  text-align: center;
  margin-top: -20px;
}

.kontakt-os-her h6 {
  font-size: 30px;
  text-align: center;
}

.kontakt-os-her ul {
  font-size: 22px;
  text-align: center;
  list-style: none;
  margin-top: -20px;
}

.aabningstider {
  margin-top: 40px;
}

.aabningstider h6 {
  font-size: 30px;
  text-align: center;
}

.aabningstider ul {
  font-size: 22px;
  text-align: center;
  list-style: none;
}

/* --- SLUT FOOTER --- */

/* --- START DESKTOP --- */

@media (min-width: 768px) {
  main {
    margin: 0 auto;
    padding: 2rem;
  }

  h1 {
    text-align: center;
  }

  .omos {
    margin-top: 60px;
  }

  .omos-indhold p {
    width: 1059px;
    height: 108px;
    margin: 1rem 11rem;
  }

  .omos-indhold img {
    width: 1360px;
    height: 600px;
    margin-top: 10px;
  }

  h2 {
    text-align: center;
    margin-top: 80px;
  }

  .historienbag-indhold p {
    width: 1043px;
    height: auto;
    margin: 1rem 10.7rem;
  }

  .historienbag-billeder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
  }

  .historienbag-billeder img {
    width: 680px;
    height: 600px;
    margin-top: 60px;
  }
}
