.article1{
border: 1px solid black;
padding: 10px;
}
.article2{
border: 1px solid black;
padding: 10px;
}
.article3{
border: 1px solid black;
padding: 10px;
margin-bottom: 100px;
}

.review-btn{
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
}
.undertekst{
    margin-top: 30px;
}

@media (min-width: 768px) {
.article1{
border: 1px solid black;
padding: 10px;
}
.article2{
border: 1px solid black;
padding: 10px;
}
.article3{
border: 1px solid black;
padding: 10px;
margin-bottom: 100px;
}

.review-btn{
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
}
}