
main {background-color: #E8DCC3;}

.articles img {
  width: 25%;
  height: auto;
}

   .article1{
border: 1px solid black;
padding: 10px;
}
.article2{
border: 1px solid black;
padding: 10px;
}
.article3{
border: 1px solid black;
padding: 10px;
}

.articles{
    display:flex;
    background-color: white;
    text-size-adjust: 80%;
}

.linje1{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.kundernes_meninger{
    padding-top: 50px;
}

.google{
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px;
    background-color: white;
    text-align: center;
}

.review-btn{
    border: 1px solid black;
    padding: 12px;
    display:flex;
    justify-content: center;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 50px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 25px;
    text-align: center;
  color: #000;
  text-decoration: none;
  font-weight: 700;
}

.undertekst{
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    text-size-adjust: 80%;
}

@media (min-width: 768px) {


    .article1{
border: 1px solid black;
padding: 10px;
}
.article2{
border: 1px solid black;
padding: 10px;
}
.article3{
border: 1px solid black;
padding: 10px;
}

main {background-color: #E8DCC3;}

.review-btn{
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
}
.undertekst{
    padding: 25px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}



.review-btn{
    border: 1px solid black;
    padding: 15px;
    margin-bottom: 10px;
    margin-right: 560px;
    margin-left: 560px;
    margin-top: 50px;
    display:flex;
    justify-content: center;
    background-color: white;
    border-radius: 25px;
    text-align: center;
  color: #000;
  text-decoration: none;
  font-weight: 700;
  min-width: 130px;
}

.linje1{
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}
.articles{
    display:flex;
    background-color: white;
}

.articles img {
  width: 25%;
  height: auto;
}

.google{
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;
    background-color: white;
    text-align: center;
    flex-shrink: 0;
    width: fit-content;
}

.google img{
    width: 10%;
    height: auto;
}
}

