.article1{
border: 1px solid black;
padding: 10px;
}
.article2{
border: 1px solid black;
padding: 10px;
}
.article3{
border: 1px solid black;
padding: 10px;
margin-bottom: 100px;
}

.review-btn{
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
}
.undertekst{
    margin-top: 30px;
    margin-right: 500px;
    margin-left: 500px;
    margin-bottom: 30px;
}

@media (min-width: 768px) {}
.article1{
border: 1px solid black;
padding: 25px;
padding-bottom: 50px;
margin-bottom: 100px;
}
.article2{
border: 1px solid black;
padding: 10px;
margin-bottom: 100px;
}
.article3{
border: 1px solid black;
padding: 10px;
margin-bottom: 100px;
}

.review-btn{
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 560px;
    margin-left: 560px;
    display:flex;
    justify-content: center;
}

.linje1{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 30px;
}
.articles{
    display:flex;
}

img {
  width: 25%;
  height: auto;
}

.review-btn{
  
}

